<div style="width: 70%; margin: 0 auto;">
<h1>New Room</h1>
<%= simple_form_for @room do |f| %>
  <%= f.input :name %>
  <%= f.input :home_type %>
  <%= f.input :room_type %>
  <%= f.input :accomodate, as: :integer, input_html: { min: '0'}%>
  <%= f.input :bedrooms, as: :integer, input_html: { min: '0'}%>
  <%= f.input :bathrooms, as: :integer, input_html: { min: '0'}%>
  <%= f.input :summary, as: :text %>
  <%= f.input :description, as: :text %>
  <%= f.input :address %>
  <%= f.input :has_tv %>
  <%= f.input :has_wifi %>
  <%= f.input :has_kitchen %>
  <%= f.input :has_heating %>
  <%= f.input :has_aircon %>
  <%= f.input :activate %>
  <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :price, as: :integer, input_html: { min: '0'} %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
