<div class="results-wrapper">
  <div class="row results-row">
    <div class="col-xs-12 col-lg-6 results-container">
    <div class="row cards-row">
      <div class="col-log-6 results-found">
        <p><%= @rooms.length %> results found!</p>
      </div>
    </div>
      <div class="row cards-row">
        <% @rooms.each do |room| %>
          <div class="col-lg-6 card-container">
            <%= render 'room_card', :room => room %>
          </div>
        <% end  %>
      </div>
    </div>
    <div class="col-lg-6 map-column">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>



<%= content_for(:after_js) do %>
<script>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>
<% end %>
