
<div class="show-banner banner">

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="bordered row hide-md text-center">
        <%= render 'tabs'  %>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= render 'home-card' %>
        </div>
      </div>
      <div class="col-lg-4">

      </div>
    </div>
  </div>
</div>
<div class="full-width-border"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
        <%= render 'listing-details' %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 400px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var myLatLng = {lat: <%= @room.latitude.to_f %>, lng: <%= @room.longitude.to_f %>};
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarker(myLatLng);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(13);
      });
    });
  <% end %>
<% end %>





<script src="lib/jquery-2.0.3.js"></script>


